{
  "presets": [
    [
      "@babel/preset-env", {
      "targets": {"browsers": ["last 2 versions"]},
      "modules": false,
      "useBuiltIns": "entry",
      "debug": false
    }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/env", {"targets": {"node": "current"}}],
        "@babel/react"
      ]
    }
  }
}
